<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>All listings</h3>
<form method="get" action="/listings/new">
    <button>
        Create New List 
    </button>
</form>
    <ul>
        <% for(let listing of AllListing){ %>
            <li><a href="/listings/<%=listing._id%>"><%=listing.title%> </a></li>
            <!-- <li> <img src="<%=listing.image%>" alt="" width="200px" height="200px"> </li> -->
            
        <% } %>
    </ul>
</body>
</html>